<h3>Learn ejs 12345</h3>
<%
    const a = 1000;
    const b = 5000;
    const c = a + b;
%>
<h3>Name: <%= name %></h3>
<p>Age: <%= age %></p>
<p>C: <%= c %></p>
<script src="reload/reload.js"></script>
