<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <title>Singers</title>
</head>

<body>
    <div class="container">
        <a href="/singers">Show all singers</a>
        <h1>Update Singer OSAD</h1>
        <form action="/update/id-nao-do" method="post" class="form-group">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" name="name" value="OSAD">
            </div>
            <div class="form-group">
                <label for="">Link</label>
                <input type="text" class="form-control" name="link" value="link-nao-do">
            </div>
            <div class="form-group">
                <label for="">Image</label>
                <input type="text" class="form-control" name="image" value="link-nao-do">
            </div>
            <br>
            <img src="https://zmp3-photo.zadn.vn/thumb/240_240/avatars/9/9/6/2/9962b429d47f3382523c5691e1a6c337.jpg" />
            <br>
            <br>
            <button class="btn btn-success">Update</button>
        </form>
    </div>
</body>

</html>
<script src="reload/reload.js"></script>
